.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
.posit/assistant

/.quarto/
**/*.quarto_ipynb
track_data.rds
track_data_reference.rds
track_data_reference.rds
track_data_rebuilt.rds
tests/testthat/_snaps/*.new.md
tests/testthat/_snaps/*.new.md
